<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <link rel="stylesheet" href="{{asset "css/style.min.css"}}">
    {{ghost_head}}
</head>
<body>